<nav role="navigation" class="navbar navbar-default custom-navbar">
  <div class="nav-container">
    <%= link_to "logout", logout_path, method: :delete %>
  </div>
</nav>
<div class="text-center">
<div class="container">
  <h3>NEW LINK</h3>
  <%= form_for(@link) do |f| %>
    <%= f.label :url, class:"sr-only"  %>
    <%= f.text_field :url, placeholder: "url", class:"form-control text-input", required:true %><br>
    <%= f.label :title, class:"sr-only"  %>
    <%= f.text_field :title, placeholder: "title", class:"form-control text-input", required:true %><br>
    <%= f.submit "submit link", class:"btn btn-success" %>
  <% end %>
</div><br><hr>
<h1>SEARCH</h1>
  <div class="searchLink container" id="searchLink">
      <form class="form-inline searchLinkForm">
        <div class="form-group">
          <input type="text_field" size="80" id="search" placeholder="Search" class="form-control" required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-info btn-md"  value="clear" id="clear">Clear</button>
        </div>
      </form>
      <br>
      <button type="button" class="btn btn-success filterRead">Filter Only Read</button>
      <button type="button" class="btn btn-danger filterUnread">Filter Only Unread</button>
      <button type="button" class="btn btn-info showAll">Show All</button><br><br>
      <button type="button" class="btn btn-info sort asc">Sort A-Z</button>
      <button type="button" class="btn btn-info sort desc">Sort Z-A</button>
  </div><hr>
<div class="container links">
  <h1>My Links</h1>
  <table class="table links-table">
    <th>Title</th>
    <th>URL</th>
    <th>Mark as Read?</th>
    <tbody class="table-striped table-center">
      <% @links.each do |link| %>
      <tr class='link' id="link-<%= link.id %>">
        <%= form_for(link) do |f| %>
          <%= f.label :title, class:"sr-only"  %>
          <td class='title'><%= f.text_field :title, class:"form-control text-input edit title", readonly:true, :data => {:id => link.id }%></td>
          <%= f.label :url, class:"sr-only"  %>
          <td class='url'><%= f.text_field :url, class:"form-control text-input edit url", readonly:true, :data => {:id => link.id } %></td>

          <% if link.read %>
            <td class='read'><button class="btn btn-success read" data-id="<%= link.id %>" data-read='false'>mark unread</button></td>
          <% else %>
            <td class='unread'><button class="btn btn-danger read" data-id="<%= link.id %>" data-read='true'>mark read</button></td>
          <% end %>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<hr>
</div>
